.bold{
    font-weight: bolder;
}
.headings{
    font-weight: bold;
}
.features h6, .card h6{
    color:  #413960;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.top-nav{
    background: #F0FFF0;
}
.top-banner{
    background: #F0FFF0;
    padding: 100px 100px;
}
.top-banner, .features, .courses, .testimonial{
    margin-bottom: 98px;
}
.nav-logo{
    width: 198.07px;
    height: 59px;
    left: 212px;
    top: 30px;
}
.btn{
    text-align: center;
    color: white;
    margin-top: 2px;    
    padding: 8px 28px;
    background: #21B573;
    border: none;
    border-radius: 33px;
    cursor: pointer;
}
.nav-link{
    color: black;
}
.orange-bg{
    color: #FD511A;
    font-size: 20px;
    line-height: 24px
}
.lorem{
    color: #6C6B6B;
}
span{
    color: #21B573;;
}
.cat1, .cat2{
    text-align: center;
    width: 270px;
    height: 270px;
    left: 135px;
    top: 618px;
    padding: 50px;
    border-radius: 10px;
}
.cat1{  
    background: #F8FFFB;
    border: none
}
.cat1 img{
    width: 68px;
    height: 76px;
    left: 231px;
    top: 672px;
}
.cat2{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.cat2 img{
    width: 80px;
    height: 83px;
    left: 535px;
    top: 670px;
}
.headings{
    text-align: center;
    margin-bottom: 60px;
}
.card{
    padding: 25px 20px;
    border-radius: 18px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.card img{
    border-radius: 11px;
}
.card-text{
    color: #585859;;
}
.card-footer{
    background: none;
    border: none;
}
.card-footer small{
    color: #585859;;
    font-weight: 500;
}
.card-footer img{
    width: 18px;
    height: 20px;
}
.content{
    padding: 10px 200px;
}
.testimonial img{
    width: 120px;
    height: 120px;
}
.white{
    color: white;
}
.last{
    background-color: #282531;
    padding: 55px 20px;
}
footer{
    text-align: center;
    color: #CDCDCD;;
    background-color: #282531;
    padding: 10px;
    height: 50px;
}    

